@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body {
  color: rgb(39, 39, 93);
  font-family: Montserrat;
}
.button {
  margin-left: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  margin-left: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
    text-align: center;
    text-emphasis: bold;
    letter-spacing: -0.8px;
    font-weight: bold;
    font-size: 80px;
}

.lend{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  background: white;
}

.text-input {
    width: 500px;
    height: 100px;
}

.balance {
  width: 700px;
  height: 100px;
}

.navbar-brand {
  font-size: 30px;
  color: rgb(58, 58, 58);
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
}

.lend-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.token-BTN{
  max-width: 5em;
}

#expectedDai{
  background-color: #f5f5f5;
}

#tokenAmt {
  border-radius: 8px;
}

.columnLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.rowlogo {
  margin: 60px 0;
}

.name {
  text-align: center;
  font-weight: 30px;
}

.width132 {
  width: 132px;
}

.build {
  text-align: center;
  font-size: 32px;
  letter-spacing: -0.8px;
  font-weight: bold;
}
